@import url('https://fonts.googleapis.com/css2?family=Cardo:ital,wght@0,400;0,700;1,400&family=Josefin+Sans:wght@100;200;300;400;500;600;700&family=Lato:wght@400;700&family=Noto+Sans+Symbols:wght@100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

:root{

   --main-bg-color: #001F3F ;
   --secondary-bg-color: #FFFBE6;
   --main-particle-color: #73EC8B;
   --secondary-particle-color: #030303;

   --main-text-color: #3A6D8C;
   --secondary-text-color: #dbb75a;
   --enphatized-text-color: #e9690e;



}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Ubuntu', sans-serif;
    height: 100%;
    background: var(--main-bg-color);
}

a {
    color: #ccc;
    text-decoration: none;
    transition: 0.3s;
}

a:hover {
    color: var(--enphatized-text-color);
}

h1.header {
    color:  var(--secondary-text-color);
    font-size: 2.5rem;
    font-weight: bold;
}

h2 {
    color: #616161;
    font-size: rem;
    font-weight: bold;
}


canvas {
    height: 100vh;
    z-index: -100000;
    position: fixed;
    top: 0;
}

.mb {
    margin-bottom: rem;
}

.logo {
    font-family: 'Times New Roman', cursive;
    color: #fff;
    font-size: 10rem;
}

.links-list ul li {
    list-style: none;
    margin-right: 2rem;
    font-size: 1.8rem;
    margin-bottom: 0;
}

.links-list h1 {
    color: #fff;
    font-size: 2.5rem;
}

.links-list ul li span {
    background-color: #e91e63;
    font-size: 1.2rem;
    border-radius: 10px;
    padding: 3px 6px;
    font-weight: bold;
    margin-left: 0.5rem;
    color: #fff;
}

.footer {
    margin-top: 6rem;
}

.footer {
    color: #fff;
    font-size: 1.3rem;
}

.showcase-text{
    color: var(--secondary-text-color);
}
