@import url('https://fonts.googleapis.com/css2?family=Cardo:ital,wght@0,400;0,700;1,400&family=Josefin+Sans:wght@100;200;300;400;500;600;700&family=Lato:wght@400;700&family=Noto+Sans+Symbols:wght@100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

:root{

   --main-bg-color: #6a8ea0 ;
   --secondary-bg-color: #bbd6e3;
   --particle-color: #ffff;
   --main-text-color: #6060;
   --enphatized-text-color: #



}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Ubuntu', sans-serif;
    height: 100%;
    background: #2a2b32;
}

a {
    color: #ccc;
    text-decoration: none;
    transition: 0.3s;
}

a:hover {
    color: #e91e63;
}

h1.header {
    color: #e91e63;
    font-size: 2.5rem;
    font-weight: bold;
}

h2 {
    color: #616161;
    font-size: rem;
    font-weight: bold;
}


canvas {
    height: 100vh;
    z-index: -100000;
    position: fixed;
    top: 0;
}

.mb {
    margin-bottom: rem;
}

.logo {
    font-family: 'Times New Roman', cursive;
    color: #fff;
    font-size: 10rem;
}

.links-list ul li {
    list-style: none;
    margin-right: 2rem;
    font-size: 1.8rem;
    margin-bottom: 0;
}

.links-list h1 {
    color: #fff;
    font-size: 2.5rem;
}

.links-list ul li span {
    background-color: #e91e63;
    font-size: 1.2rem;
    border-radius: 10px;
    padding: 3px 6px;
    font-weight: bold;
    margin-left: 0.5rem;
    color: #fff;
}

.footer {
    margin-top: 6rem;
}

.footer {
    color: #fff;
    font-size: 1.3rem;
}